@{
    ViewBag.Title = "AccessDenied";
}
<div class="row">
    <div class="col-xs-12">
        <h3 class="page-header heading-text-color">
            User unauthorized to access this page
        </h3>
    </div>
</div>

<div class="panel panel-danger" style="width:32vw;margin-left:19vw; position:absolute;">

    <div class="panel-heading" style="font-size:larger;">Access Denied</div>

    <br />
    <br />
    <label style="color:#b94a48; font-size:larger;"> You have tried to access a page that you have no permission to view</label>

    <br />
    <br />

    <div class="panel-body">

    </div>

</div>


