@{
    ViewBag.Title = "View Survey Completion Status";
}
<div class="row">
    <div class="col-xs-12">
        <h3 class="page-header heading-text-color">
            View Survey Completion
        </h3>
    </div>
</div>
@using (Html.BeginForm("ViewSurveyCompletion", "Admin", FormMethod.Get, new { @id = "formViewSurveyCompletion" }))
{


    <div class="col-xs-12 col-md-6 col-lg-9">

        <div class="row">

            <div ng-app="completeSurveyApp">

                <div ng-controller="completeSurveyController">


                    <label class="heading-text-color">Please Select a filter/search option below</label>

                    <div class="panel panel-default drop-down-border-color" style="width:65%">

                        <div class="panel-body ">

                            <label class="heading-text-color"><input type="radio" ng-init="surveyStatus=FALSE" ng-model="All" name="surveyStatus" ng-click="ShowSummaryAccrossOrg()" id="optAll" ng-value="TRUE" checked="checked" />All</label>

                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label class="heading-text-color"><input type="radio" ng-model="ByRater" ng-click="ShowRaterDiv()" name="surveyStatus" id="optRaterName" ng-view="FALSE" />By Rater</label>

                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label class="heading-text-color"><input type="radio"  ng-model="byDepartment" name="surveyStatus" id="optDepartment" ng-value="FALSE" ng-click="ShowDepartmentDiv()" data-toggle="tooltip" />By Business Unit</label>
                        </div>

                    </div>

                    <div class="row" ng-show="divShowDepartmentFilter">

                        <div class="col-xs-12 col-md-6 col-lg-6">

                            <label class="heading-text-color">Select Business Unit</label>

                            <select ng-model="BusinessUnit" id="drpBusinessUnit" ng-options="DepartmentDropDown.Name for DepartmentDropDown in DepartmentList track by DepartmentDropDown.Value" ng-change="loadAllFutureGrowthEmployeesPerBusinessUnit(BusinessUnit.Name)" class="form-control drop-down-border-color heading-text-color" style="max-width:none; width:40.8vw;">
                                <option class="heading-text-color" value="" disabled selected>---Please Select---</option>
                            </select>
                        </div>

                    </div>
                    <div class="row" ng-show="divShowAllEmployeesWithSurvayes">

                        <div class="col-xs-12 col-md-6 col-lg-6">

                            <label class="heading-text-color">Select Rater</label>

                            <select ng-init="Rater= RaterStatusList[0]" id="optRater" name="Rater" ng-change="ViewRaterInformationSurmmaryReport(Rater)" ng-options="item.Rater for item in RaterStatusList" class="form-control heading-text-color drop-down-border-color heading-text-color" ng-model="Rater" style="max-width:none; width:40.8vw;">
                                <option class="heading-text-color" value="" disabled selected>---Please Select---</option>
                            </select>
                        </div>

                    </div>


                    <div ng-show="divShowAllSurveyStatus">

                        <table class="table table-striped" datatable="ng" ng-show="showAllSurveyStatusTable" id="showAllEmployeeSurveyStatus">
                            <thead style="color: white; background-color: #1cb5b0">
                                <tr>
                                    <th> Name</th>
                                    <th> Surname</th>
                                    <th> Business Unit </th>
                                    <th style="text-align:center">Survey Status</th>
                                    <th style="text-align:center">Outstanding Survey</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="emp in EmployeeSurveyStatusReportList | filter: searchKeyword ">
                                    <td> {{emp.First_Name}}</td>
                                    <td> {{emp.Surname}} </td>
                                    <td>{{emp.Team_Desc}}</td>
                                    @*<td ng-if="emp.Completed == true" id="SurveyStatus"><a ng-click="isPopupVisible()" style="text-decoration:none"><h4><span class="label label-success">Completed</span></h4></a></td>
                                        <td ng-if="emp.Completed == false && emp.Verified =" id="SurveyStatus"><a ng-click="isPopupVisible()" style="text-decoration:none"><h4><span class="label label-warning">Incomplete</span></h4></a></td>*@
                                    <td ng-if="emp.Completed == true" id="SurveyStatus" style="text-align:center"><a ng-click="isPopupVisible()" style="text-decoration:none"><h4><span class="label label-success">Completed</span></h4></a></td>
                                    <td ng-if="emp.Completed == false" id="SurveyStatus" style="text-align:center"><a ng-click="isPopupVisible()" style="text-decoration:none"><h4><span class="label label-warning">Incomplete</span></h4></a></td>
                                    @*<td id="SurveyStatus"><a ng-click="isPopupVisible()" style="text-decoration:none"><h4><span class="label label-warning">Incomplete</span></h4></a></td>*@
                                    <td style="text-align:center">Rater 1, Rater 2, Rater 3</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th> Name</th>
                                    <th> Surname</th>
                                    <th> Business Unit </th>
                                    <th style="text-align:center">Survey Status</th>
                                    <th style="text-align:center">Outstanding Survey</th>
                                </tr>
                            </tfoot>

                        </table>

                    </div>


                    <div class="row" ng-show="divViewSurveyCompletion">

                        <table class="table table-striped display" datatable="ng" ng-show="surveyCompletionTable">
                            <thead style="color: white; background-color: #1cb5b0">
                                <tr>
                                    <th> Question</th>
                                    <th>Status</th>
                                    <th>Rating</th>
                                    <th> Response</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="q in Questions | filter: searchKeyword">
                                    <td> {{q.Question}}</td>
                                    <td>Incomplete</td>
                                    <td>2.5</td>
                                    <td>N/A</td>

                                </tr>
                            </tbody>

                            <tfoot>
                                <tr>
                                    <th> Question</th>
                                    <th>Status</th>
                                    <th>Rating</th>
                                    <th> Response</th>
                                </tr>
                            </tfoot>

                        </table>

                    </div>

                    <br />
                    <br />


                    <div class="row" ng-show="divSurveyStatusSurmmaryAccrossOrganisation">

                        <br />

                        <div class="progress text-center" style="width:40vw">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ProgressTotalSurveyPercentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ProgressTotalSurveyPercentage}}%;">
                                <span>{{ProgressTotalSurveyPercentage}}% Complete</span>
                            </div>
                            <span class="warning">{{PercentageOutStanding}}% Incomplete</span>
                        </div>

                        <br />

                        <div class="row">

                            <div class="col-sm-3">

                                <label class="heading-text-color">Total Surveys</label>  &nbsp;&nbsp;<label class="heading-text-color">|</label>

                            </div>
                            <div class="col-sm-3">

                                <label class="heading-text-color">Total Surveys Completed</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp<label class="heading-text-color">|</label>&nbsp;&nbsp;

                            </div>
                            <div class="col-sm-3">

                                <label class="heading-text-color">Total Surveys Outstanding</label>&nbsp;&nbsp;&nbsp;&nbsp;

                            </div>

                        </div>


                        <div class="row">
                            <div class="col-sm-3">

                                <button ng-model="totalSurveysAll" type="button" id="btnAllTotalSurveys" class="btn btn-success btn-circle button-labelradius">{{totalSurveysAll}}</button>

                            </div>
                            <div class="col-sm-3">

                                <button type="button" id="btnSurveysCompletedAll"  ng-model="SurveysCompletedAll" class="btn btn-info btn-circle button-labelradius">{{SurveysCompletedAll}}</button>

                            </div>

                            <div class="col-sm-3">

                                <button type="button" id="btnTotalOustandingSurveysAll" ng-model="TotalOutStandignSurveysAll" class="btn btn-warning btn-circle button-labelradius">{{TotalOutStandignSurveysAll}}</button>

                            </div>
                        </div>
                    </div>

                    <div ng-show="divShowTotalSurveysAccrossDetailsReport">

                        <table class="table table-striped" datatable="ng" ng-show="ShowTotalSurveysAccrossDetailsReportTable" id="tableEmployeeSurveys">
                            <thead style="color: white; background-color: #1cb5b0">
                                <tr>
                                    <th> Name</th>
                                    <th> Surname</th>
                                    <th> Business Unit </th>
                                    <th>Survey Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="emp in TotalSurveyReportList | filter: searchKeyword ">
                                    <td> {{emp.First_Name}}</td>
                                    <td> {{emp.Surname}} </td>
                                    <td>{{emp.Team_Desc}}</td>                                   
                                     <td ng-if="emp.Completed == true" id="SurveyStatus"><a style="text-decoration:none"><h4><span class="label label-success"> Completed</span></h4></a></td>
                                    <td ng-if="emp.Completed == false" id="SurveyStatus"><a  style="text-decoration:none"><h4><span class="label label-warning">Incomplete</span></h4></a></td>
                                
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th> Name</th>
                                    <th> Surname</th>
                                    <th> Business Unit </th>
                                    <th>Survey Status</th>
                                </tr>
                            </tfoot>

                        </table>

                    </div>

                    <div class="row" ng-show="divSurveyStatusSurmmaryPerBusinessUnit">

                        <br />
                        <div class="progress text-center" style="width:40vw">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ProgressTotalSurveyPercentagePerBusinessUnit}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ProgressTotalSurveyPercentagePerBusinessUnit}}%;">
                                <span>{{ProgressTotalSurveyPercentagePerBusinessUnit}}% Complete</span>
                            </div>
                            <span class="warning">{{PercentageOutStandingPerBusinessUnit}}% Incomplete</span>
                        </div>



                        <br />

                        <div class="row" ng-show="divSurversPerBusinessUnit">

                            <div class="col-sm-3">

                                <label class="heading-text-color">Total Surveys</label>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label class="heading-text-color">|</label>&nbsp;&nbsp;

                            </div>
                            <div class="col-sm-3">

                                <label class="heading-text-color">Total Surveys Completed</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label class="heading-text-color">|</label>&nbsp;&nbsp;

                            </div>
                            <div class="col-sm-3">

                                <label class="heading-text-color">Total Surveys Outstanding</label>&nbsp;&nbsp;&nbsp;&nbsp;

                            </div>

                        </div>


                        <div class="row" ng-show="divSurversPerBusinessUnit">
                            <div class="col-sm-3">

                                <button type="button" id="btnSurveysTotalSurveysPerBusinessUnit" ng-model="TotalSurveysPerBusinessUnit" class="btn btn-success btn-circle button-labelradius">{{TotalSurveysPerBusinessUnit}}</button>

                            </div>
                            <div class="col-sm-3">
                                <button type="button" id="btnSurveysCompletedPerBusinessUnit" ng-model="CompletedSurveysPerBusinessUnit" class="btn btn-info btn-circle button-labelradius">{{CompletedSurveysPerBusinessUnit}}</button>

                            </div>

                            <div class="col-sm-3">
                                <button type="button" id="btnOutStandingSurveysPerBusinessUnit" ng-model="OutStandingSurveysPerBusinessUnit" class="btn btn-warning btn-circle button-labelradius">{{OutStandingSurveysPerBusinessUnit}}</button>

                            </div>
                        </div>
                    </div>

                    
                    <div class="row" ng-show="divSurversPerRater">

                        <div class="alert alert-info" role="alert" style="width:40.8vw">
                            Survey Completion Status Summary Report for: <strong>{{Rater.Rater}}</strong>
                        </div>

                        <br />

                        <div class="progress text-center" style="width:40vw">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ProgressTotalSurveyPercentagePerRater}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ProgressTotalSurveyPercentagePerRater}}%;">
                                <span>{{ProgressTotalSurveyPercentagePerRater}}% Complete</span>
                            </div>
                            <span class="warning">{{PercentageOutStandingPerRater}}% Incomplete</span>
                        </div>



                        <br />

                        <div class="col-sm-3">

                            <label class="heading-text-color">Total Surveys</label>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label class="heading-text-color">|</label>&nbsp;&nbsp;

                        </div>
                        <div class="col-sm-3">

                            <label class="heading-text-color">Total Surveys Completed</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label class="heading-text-color">|</label>&nbsp;&nbsp;

                        </div>
                        <div class="col-sm-3">

                            <label class="heading-text-color">Total Surveys Outstanding</label>&nbsp;&nbsp;&nbsp;&nbsp;

                        </div>

                    </div>


                    <div class="row" ng-show="divSurversPerRater">
                        <div class="col-sm-3">

                            <button type="button" id="btnSurveysTotalSurveysPerRater" ng-model="TotalSurveysPerRater" ng-click="CompletionStatusByRaterCompleted()" class="btn btn-success btn-circle button-labelradius">{{TotalSurveysPerRater}}</button>

                        </div>
                        <div class="col-sm-3">
                            <button type="button" id="btnSurveysCompletedPerRater" ng-model="CompletedSurveysPerRater" ng-click="CompletionStatusCompleted()" class="btn btn-info btn-circle button-labelradius">{{CompletedSurveysPerRater}}</button>

                        </div>

                        <div class="col-sm-3">
                            <button type="button" id="btnOutStandingSurveysPerRater" ng-model="OutStandingSurveysPerRater" ng-click="CompletionStatusOutstanding()" class="btn btn-warning btn-circle button-labelradius">{{OutStandingSurveysPerRater}}</button>

                        </div>
                    </div>

                    <br />
                    <div ng-show="divShowRaterFilter">

                        <table class="table table-striped" datatable="ng" ng-show="viewSurveyCompletionTable" id="tableEmployeeSurveys">
                            <thead style="color: white; background-color: #1cb5b0">
                                <tr>
                                    <th> Name</th>
                                    <th> Surname</th>
                                    <th> Business Unit </th>
                                    <th style="text-align:center">Survey Status</th>
                                    @*<th>View Questions</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="emp in Employees | filter: searchKeyword ">
                                    <td> {{emp.First_Name}}</td>
                                    <td> {{emp.Surname}} </td>
                                    <td>{{emp.Team_Desc}}</td>
                                    @*<td ng-if="emp.Completed == true" id="SurveyStatus"><a ng-click="isPopupVisible()" style="text-decoration:none"><h4><span class="label label-success">Completed</span></h4></a></td>
                                        <td ng-if="emp.Completed == false && emp.Verified =" id="SurveyStatus"><a ng-click="isPopupVisible()" style="text-decoration:none"><h4><span class="label label-warning">Incomplete</span></h4></a></td>*@
                                    <td ng-if="emp.Completed == true" id="SurveyStatus" style="text-align:center"><a ng-click="LoadQuestionsPerEmployeeReport(emp.Survey_For)" style="text-decoration:none"><h4><span class="label label-success"> Completed</span></h4></a></td>
                                    <td ng-if="emp.Completed == false" id="SurveyStatus" style="text-align:center"><a ng-click="LoadQuestionsPerEmployeeReport(emp.Survey_For)" style="text-decoration:none"><h4><span class="label label-warning">Incomplete</span></h4></a></td>
                                    @*<td id="SurveyStatus"><a ng-click="isPopupVisible()" style="text-decoration:none"><h4><span class="label label-warning">Incomplete</span></h4></a></td>*@
                                    @*<td>Rater 1, Rater 2, Rater 3</td>*@
                                    @*<td>
                                        <a href="#" class="btn btn-info button-back-color" ng-click="LoadQuestionsPerEmployee(emp, emp.Survey_For)"><i class="fa fa-hand-pointer-o" aria-hidden="true"></i></a>
                                    </td>*@
                                   
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th> Name</th>
                                    <th> Surname</th>
                                    <th> Business Unit </th>
                                    <th style="text-align:center">Survey Status</th>
                                    @*<th>View Questions</th>*@
                                </tr>
                            </tfoot>

                        </table>

                    </div>

                    <br />
                    <div ng-show="divReportShowQuestions">

                        <input type="hidden" ng-model="QuestionNo" />

                        <table class="table table-striped display" datatable="ng" ng-show="surveyQuestionReportTable">
                            <thead style="color: white; background-color: #1cb5b0">
                                <tr>
                                    <th></th>
                                    <th> Question</th>
                                    <th>Status</th>
                                    <th>Rating</th>
                                    <th> Response</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="qObject in QuestionListReport | filter: searchKeyword">
                                    <th>{{qObject.Q_No}}</th>
                                    <td> {{qObject.Question}}</td>

                                    <td ng-if="!qObject.Rater_Comment">
                                        <i class="fa fa-times danger" aria-hidden="true" style="font-size:x-large; color:#d9534f"></i>

                                    </td>

                                    <td ng-if="qObject.Rater_Comment">
                                        <i class="fa fa-check heading-text-color" aria-hidden="true" style="font-size:x-large; color:green"></i>
                                    </td>
                                    <td>{{qObject.Rating}}</td>
                                    <td>{{qObject.Rater_Comment}}</td>                                  

                                </tr>
                            </tbody>

                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th> Question</th>
                                    <th>Status</th>
                                    <th>Rating</th>
                                    <th> Response</th>
                                </tr>
                            </tfoot>

                        </table>

                    </div>

                </div>




                @*<button type="button" class="btn btn-primary btn-circle button-labelradius">20</button>

                    <button type="button" class="btn btn-info btn-circle button-labelradius">80</button>
                    <button type="button" class="btn btn-warning btn-circle button-labelradius">100</button>
                    <button type="button" class="btn btn-danger btn-circle btn-xl button-labelradius">30</button>*@



                <div ng-show="showPopup" id="popupMessage">
                    <div class="alertBg" title="Survey Completion Status Summary">
                        <div class="alertPlaceholder ">

                            <h3 class="heading-text-color" style="margin-top:0px">Survey Completion Status Summary</h3>
                            <hr class="heading-text-color" />

                            <div class="form-group">

                                <div class="row">

                                    <div class="col-xs-12 col-md-6 col-lg-6">

                                        <label class="heading-text-color">Number of questions completed</label>
                                        <label id="lblNumberOfCompletedQuestions">5/30</label>

                                    </div>

                                    <div class="col-xs-12 col-md-6 col-lg-3">

                                        <label class="heading-text-color">Number of Raters</label>
                                        <label id="lblNumberOfSurveyRaters">5</label>


                                    </div>

                                    <div class="col-xs-12 col-md-6 col-lg-3">

                                        <label class="heading-text-color">Ratings so far</label>
                                        <label id="lblCurrentRatings">10%</label>


                                    </div>

                                </div>


                            </div>

                            <div>
                                <input id="btnOk" class="btn btn-info" tabindex="2" value="Ok" ng-click="hidePrompt()">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

        @*<div id="loading" style="top:8vw; left:24%; position:relative">
            </div>*@

        <div class="alertBg" id="DivLoadingProgress">

            <div class="loading-popup">

                <div id="loading" style="top:0vw; left:5%; position:relative">
                </div>

            </div>

        </div>
}
<script src="~/Scripts/CRUDScripts/Views/CompleteSurvey/CompleteSurvey.js"></script>

<script src="~/Scripts/CRUDScripts/Views/CompleteSurvey/service.js"></script>

<script src="~/Scripts/CRUDScripts/Views/CompleteSurvey/loadingservice.js"></script>

